@model UpdateUserViewModel
@{
	ViewData["Title"] = "Edit User";
}

<div class="container-fluid mb-5 d-flex justify-content-center">
	<div class="card shadow-sm border-0 col-12 col-md-6">
		<div class="card-header bg-dark text-white">
			<h2 class="fs-4 m-0 text-center">Edit User</h2>
		</div>

		<div class="card-body bg-white p-3">
			@Html.ValidationSummary(excludePropertyErrors: true, "", new { @class = "text-danger" })
			<form asp-area="Admin" asp-controller="User" asp-action="Edit" method="post">
				<input type="hidden" asp-for="Id" />

				<div class="mb-2">
					<label asp-for="Name" class="form-label fw-semibold">Name:</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="mb-2">
					<label asp-for="LastName" class="form-label fw-semibold">Last Name:</label>
					<input asp-for="LastName" class="form-control" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>

				<div class="mb-2">
					<label asp-for="Email" class="form-label fw-semibold">Email:</label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="mb-2">
					<label asp-for="Username" class="form-label fw-semibold">Username:</label>
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>

				<div class="mb-2">
					<label asp-for="Password" class="form-label fw-semibold">Password:</label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="mb-2">
					<label asp-for="ConfirmPassword" class="form-label fw-semibold">Confirm Password:</label>
					<input asp-for="ConfirmPassword" class="form-control" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>

				<div class="mb-2">
					<label asp-for="Role" class="form-label fw-semibold">Role:</label>
					<select asp-for="Role" class="form-select" asp-items="Html.GetEnumSelectList<UserRole>()">
						<option value="">Select a role</option>
					</select>
					<span asp-validation-for="Role" class="text-danger"></span>
				</div>

				<div class="d-flex col-12 gap-2 justify-content-end pt-1">
					<a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-outline-warning px-4 pt-2 fw-semibold">Go back</a>
					<button type="submit" class="btn btn-outline-dark px-5 pt-2 fw-semibold">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>